<html>

<head>
<style>
.piechart {
  margin-top: 50px;
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: : 50%;
  background-image: conic-gradient(pink, green, blue, pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
</head>

<body>

<h1> PASSFIT Home </h1>

<button type="submit" name="physicallink">Physical</button>
<button type="submit" name="cognitivelink">Cognitive</button>
<button type="submit" name="psychologicallink">Psychological</button>

<div class="piechart center"></div>

</body>
</html>
