<html>
<head>
<style>

</style>
</head>

<body>

<h3>Psychological Form</h3>
<div style="height:30px"></div>

<h5>Question 1</h5>
<input type="text" placeholder="Answer 1..."><br>
<div style="height:30px"></div>

<h5>Question 2</h5>
<input type="text" placeholder="Answer 2..."><br>
<div style="height:30px"></div>

<h5>Question 3</h5>
<input type="text" placeholder="Answer 3..."><br>
<div style="height:30px"></div>

<button type="submit"> Submit Form </button>

</body>
</html>